body {font-family: 'Roboto', 'Raleway', sans-serif;}

* {margin: 0;padding: 0;}

a {text-decoration: none;}

.WebStudio {font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1,2;
    letter-spacing: 0.03em;}

.solution-main {font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    line-height: 1,7;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;}

.button-order {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1,9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer}
.button-order:hover,
.button-order:focus {color: #FFFFFF;}

.title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1,1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color: #757575;}

a {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1,1;
    letter-spacing: 0.02em;
    color: #212121;}

.about-links .about{font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1,1;
    letter-spacing: 0.02em;
    color: #212121;}
.about-links .about:hover,
.about-links .about:focus {color: #2196F3;}

.kontakt-links {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1,1;
    letter-spacing: 0.02em;
    color: #757575;}
.kontakt-links .mail:hover,
.kontakt-links .mail:focus {color:#2196F3}
.kontakt-links .tel:hover,
.kontakt-links .tel:focus {color:#2196F3}

.button-about {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1,6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}
.button-about .main {cursor: pointer}
.button-about .main:hover,
.button-about .main:focus {color: #FFFFFF;}

.address {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,7;
    letter-spacing: 0.03em;}

.mail-footer {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration-line: underline;}
.mail-footer:hover,
.mail-footer:focus {color: #2196F3}

.tel-footer {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,7;
    letter-spacing: 0.03em;}
.tel-footer:hover,
.tel-footer:focus {color: #2196F3}

.what-we-do {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.name {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.what-do {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;}

.name-portfolio {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;}

.what-is {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1,9;
    letter-spacing: 0.03em;
    color: #757575;}